.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 10px;
  padding: 48px;
  box-shadow: -8px 9px 20px 0px #888888;
  width: 35vw;
}

.submit-btn {
  background-color: rgba(0, 0, 0, 0.938);
  color: white;
  border-radius: 16px;
  border: none;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin-top: 32px;
  cursor: pointer;
}

.form-image {
  margin-bottom: 30px;
}

.form-name {
  text-align: center;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
}

input {
  margin: 6px 0 10px;
  padding: 8px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  .form {
    width: 70vw;
  }
}

@media (max-width: 900px) {
  .form {
    min-width: 45vw;
  }
}
